<div class="blog">
  <h3>New articles:</h3>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="addInfo">
    <div>
      <label for="title" class="form-label">Title:</label>
      <input type="text" name="title" id="title" [(ngModel)]="title" class="form-control" required ngModel
        #titleStatus="ngModel">
    </div>
    <div>
      <label for="description" class="form-label">Description:</label>
      <input type="text" name="description" id="description" [(ngModel)]="description" class="form-control" required
        #descriptionStatus="ngModel" ngModel>
    </div>
    <input type="submit" value="Add" *ngIf="!visibleEdit" class="btn btn-primary"
      [disabled]="titleStatus.pristine || descriptionStatus.pristine">
    <input type="submit" value="Save" *ngIf="visibleEdit" class="btn btn-success">
  </form>
  <div>
    <h3>Articles:</h3>
    <div *ngFor="let article of articles, let index=index;" class="article">
      <div class="article-title">{{article.title}}</div>
      <div class="article-time">{{article.time | date:"HH:mm dd/MM/yyyy"}}</div>
      <div class="article-description">{{article.description}}</div>
      <div>
        <button (click)="edit(index)" class="btn btn-warning">Edit</button>
        <button (click)="delete(index)" *ngIf="login==='Admin'" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
  <button (click)="modal()" *ngIf="login==='Admin'" class="btn btn-dark">Delete All!!!</button>
</div>
<div class="modal" tabindex="-1" *ngIf="visibleModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete All</h5>
      </div>
      <div class="modal-body">
        <p>Do you really wannt to delete all articles?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="deleteAll()">Yes</button>
        <button type="button" class="btn btn-info" (click)="closeWindow()">No</button>
      </div>
    </div>
  </div>
</div>
